doctype html
html
  head
    title= 'Weather Whenever'
    link(href="https://fonts.googleapis.com/css?family=Bungee%7CLobster%7CRoboto%7CSource+Sans+Pro" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Arvo%7CBitter%7CCopse%7CCutive%7CFredoka+One%7CJulius+Sans+One%7CLora:700%7CSanchez%7CScope+One%7CSlabo+27px%7CTrocchi%7CVesper+Libre%7CLobster%7CYantramanav%7CFugaz+One" rel="stylesheet")
    link(rel="stylesheet" href="stylesheets/main.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/clear.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/cloudy.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/fog.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/partly-cloudy.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/partly-cloudy-night.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/rain.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/sleet.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/snow.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/wind.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/windmill.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/nice-select.css")
    link(rel="stylesheet" href="stylesheets/button.css")

  body
    block content
