doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Bungee|Lobster|Roboto" rel="stylesheet")
    link(rel="stylesheet" href="stylesheets/main.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/clear.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/cloudy.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/fog.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/partly-cloudy.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/partly-cloudy-night.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/rain.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/sleet.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/snow.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/wind.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/windmill.css" media="screen" title="no title")
    link(rel="stylesheet" href="stylesheets/nice-select.css")

  body
    block content
