body{
  font-size: 50px;
  background-color: #4D648D;
}

h1 {
  font-size: 1.5em;
  font-family: 'Fugaz One', cursive;
  color:  #283655;
}


/*test button*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


#pac-input{
  width: 10%;
  margin-top: 5%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

input {
	outline: none;
}
input[type=text] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 1em;
}


input[type=text] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#pac-input:focus {
	width: 500px;
	background-color: #CD5C5C;
	border-color: #283655;

	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
