body {
  margin: 0;
  font-size: 10px;
  background-color: #d0e1f9;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a > .loading-header {
  margin-top: 0;
}

textarea {
  display: none;
}

.hr-top5 {
  width: 130px;
  height: 1px;
  background-color: tomato;
  border-color: transparent;
}

.hr-heading {
  color: #b53a53;
  background: #b53a53;
  border-color: transparent;
  margin: 0;
}

.header-container {
  align-self: center;
}

.search-section {
  min-height: 100vh;
  overflow-y: hidden;
}

.main-header {
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 9vw;
  font-family: Source Sans Pro;
  color: #7c728e;
  font-weight: 800;
  position: relative;
  top: 2vw;
}

.sub-header-main {
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 7vw;
  font-family: Source Sans Pro;
  font-weight: 200;
  color: #7aa3a5;
  position: relative;
  bottom: 2vw;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.current-container {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29vw;
  align-self: flex-end;
  border-radius: 5px;
  height: 4vw;
  font-size: 1.5vw;
  justify-content: space-between;
  flex: 3;
  background: tomato;
  margin-top: 10px;
  color: #d0e1f9;
}

.current-container:hover {
  cursor: pointer;
  color: beige;
}

.current-loc {
  flex: 1;
  max-width: 47vw;
  font-family: 'Lobster';
}

.inner-current-loc {
  flex: 1;
  font-family: 'Lobster';
}

.top5-container-list {
  font-size: 1rem;
  width: 220px;
  background: #4d648d;
  height: 100vh;
  margin: 0;
  position: absolute;
  font-family: Roboto;
}

.top5-button-container {
  background: tomato;
  height: 100vh;
  position: absolute;
  z-index: 5;
  width: 30px;
  transition: width 0.3s ease;
}

.top5-button-container:hover {
  cursor: pointer;
  width: 35px;
}

.top5-header {
  color: tomato;
}

.pac-container {
  font-family: 'Roboto' !important;
  border-radius: 5px;
}

.top5-button {
  transform: rotate(-90deg);
  top: 50vh;
  position: absolute;
  font-size: 1.2rem;
  min-width: 44px;
  color: beige;
  font-family: 'Lobster';
  left: -6px;
}

.top5-no-display {
  transform: translateX(-100%);
  transition: 1s ease transform;
}

.top5-display {
  transform: translateX(0);
  transition: 1s ease transform;
}

.the-list-container {
  font-family: 'Lobster';
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin-left: 36px;
}

.top5-el-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  justify-content: center;
}

.top5-element {
  margin-top: 18px;
  color: #d0e1f9;
}

.scroll-plz {
  margin: 20px auto;
  font-size: 2vw;
}

.scroll-icon {
  text-align: center;
  font-size: 4vw;
  animation: bounce 2s infinite;
}

.scroll-button {
  margin: 20px auto;
  color: darkorange;
  font-family: 'Lobster';
  visibility: hidden;
  cursor: pointer;
}

.section-display {
  display: none !important;
}

.controls {
  margin-top: 2vw;
  width: 50%;
  align-self: center;
  height: 5vw;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 2vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: tomato;
  border-radius: 130px;
  background-image: url(../img/search.png);
  background-size: 7vw;
  background-repeat: no-repeat;
  background-position: right;
}

.controls:focus {
  outline: none;
}

.card-header {
  font-size: 1rem;
  font-family: 'Roboto';
  flex-basis: 100%;
  text-align: center;
  align-self: flex-start;
  margin: 0;
  color: aliceblue;
}

.temp-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.temp-flex > * {
  flex-basis: 100%;
}

.hourly-weather-icon {
  transform: scale(0.8, 0.8);
  margin-left: 13px;
  height: 100%;
}

.select-button {
  max-width: 150px;
  margin: 20px auto;
}

.hourly-percentage {
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  margin-bottom: 50px;
  color: skyblue;
}

.week-section {
  background: linear-gradient(to bottom, #d0e1f9, #517fa4);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.day-section {
  min-height: 100vh;
  font-family: PlayfairDisplay;
  font-size: 2rem;
  background: #ffb347;
  background: -webkit-linear-gradient(bottom, #ffb347, #ec4c00);
  background: -o-linear-gradient(bottom, #ffb347, #ec4c00);
  background: linear-gradient(to bottom, #ffb347, #ec4c00);
}

.day-header-today {
  margin-top: 0;
  font-family: 'Arvo';
  font-size: 3vw;
  text-align: center;
  color: deepskyblue;
  animation: fadeInRight 0.2s;
}

.day-header {
  font-family: 'Lobster';
  font-size: 3vw;
  text-align: center;
  color: purple;
  animation: fadeInRight 0.2s;
}

.sub-header {
  font-family: 'Arvo';
  font-size: 2vw;
  text-align: center;
  color: deepskyblue;
  animation: fadeInRight 0.2s;
}

.icon-container {
  max-width: 860px;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
}

.grid-item {
  height: 225px;
  width: 225px;
  list-style: none;
  background-color: #42697b;
  font-family: 'Roboto';
  display: flex;
  box-shadow: 4px 14px 29px -8px rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-color: transparent;
  border-radius: 16px;
}

.grid-item > * {
  flex-basis: 100%;
}

.hour-list {
  border: 1px solid;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  height: 30px;
}

.hourly-compass-msg {
  z-index: 2;
  font-size: 1.2rem;
  position: absolute;
  color: aliceblue;
}

.hour-temp-container {
  transform: scale(0.8, 0.8);
}

.hourly-compass {
  position: absolute;
  background: #444;
  border-radius: 0 50% 50%;
  border: 10px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-right-color: coral;
  border-bottom-color: coral;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  align-self: center;
}

@-moz-document url-prefix() {
  .hourly-compass-msg {
    transform: translateX(-50%);
    left: 50%;
    bottom: 135px;
  }

  .hourly-compass {
    left: 50%;
  }
}

.main-day-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  height: 75vh;
  width: 75vw;
}

.list-container {
  display: flex;
  justify-content: center;
  background-color: #4d648d;
  height: 170px;
  width: 100%;
  margin-bottom: 0;
}

.day {
  display: flex;
  flex: 4;
  max-width: 26%;
  font-size: 2vw;
  padding-bottom: 26px;
  min-width: 29%;
}

.week-header-today {
  font-family: 'Arvo';
  font-size: 3vw;
  text-align: center;
  color: tomato;
  margin-bottom: 0;
  animation: fadeInRight 0.2s;
}

.week-header {
  font-family: 'Lobster';
  font-size: 3vw;
  text-align: center;
  color: #60bfa6;
  animation: fadeInRight 0.2s;
  margin-top: 0;
}

.list-item {
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  align-items: center;
  color: beige;
  flex: 1 1 6%;
}

.summary {
  font-size: 1vw;
  color: #ff7f50;
  max-width: 359px;
  position: absolute;
}

.top5-element:hover {
  cursor: pointer;
  color: red;
}

.degrees {
  flex: 2;
  justify-content: center;
  font-size: 1.2rem;
}

.bottom-text-week {
  position: relative;
  font-size: 2rem;
  bottom: 3px;
  left: 2px;
}

.bottom-text {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-size: 1.6rem;
  color: aliceblue;
}

.mod2-color {
  background-color: #283655;
}

.whole-list-container {
  max-width: 75%;
  max-height: 75%;
  margin: 20px auto;
  margin-bottom: 0;
}

.temp-text {
  text-align: center;
  font-size: 0.8rem;
}

.wind-mill-text {
  position: relative;
  bottom: 66px;
  left: -3px;
  font-size: 0.8rem;
}

.wind-direction-text {
  position: relative;
  bottom: 66px;
  left: 13px;
  font-size: 0.8rem;
}

.thermo-container {
  transform: scale(0.55, 0.55) translateY(-44%);
}

.thermometer-top {
  height: 150px;
  width: 20px;
  border-right: 5px solid #d1d1d1;
  border-left: 5px solid #d1d1d1;
  border-top: 5px solid #d1d1d1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: transparent;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.thermometer-bottom {
  content: '';
  background: tomato;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid #d1d1d1;
  z-index: -1;
  margin: -7px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thermometer-bottom-min {
  content: '';
  background: tomato;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid #d1d1d1;
  z-index: -1;
  margin: -7px auto;
}

.thermometer-bottom-min {
  content: '';
  background: tomato;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid #d1d1d1;
  margin: -7px auto;
}

.thermometer-fill {
  width: 30px;
  min-height: 12px;
  background: tomato;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.2s;
}

.compass {
  position: absolute;
  background: #444;
  border-radius: 0 50% 50%;
  border: 10px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-right-color: coral;
  border-bottom-color: coral;
  transition: border-radius 0.2s;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.compass-msg {
  margin-top: 10px;
}

.compass-msg {
  z-index: 2;
}

.wind-text {
  position: relative;
  top: -163px;
  left: 201px;
  font-size: 2rem;
}

.hourly-wind-text {
  font-size: 2rem;
  font-family: 'Roboto';
  text-align: center;
  margin: 0;
  color: aliceblue;
}

.hourly-windmill {
  transform: scale(0.6, 0.6);
  position: relative;
  align-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
  bottom: 40px;
}

.icon {
  flex: 2;
  justify-content: center;
}

.loading-header {
  margin-top: 200px;
  text-align: center;
  font-family: 'Arvo';
  font-size: 5rem;
  color: tomato;
}

.container-cloud {
  position: absolute;
  height: 200px;
  width: 300px;
  margin: -100px 0 0 -200px;
  margin-top: 10px;
  top: 50%;
  left: 50%;
}

.container-loading {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  background: #d0e1f9;
  z-index: 10;
  position: fixed;
}

.icon-rain-loading {
  background: #eb1d47;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.icon-loading-i {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: #d11a3f;
  position: relative;
  box-shadow:
    inset 0 -6px 10px #de1c43,
    inset 0 2px 10px rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
}

.cloud-base {
  position: absolute;
  width: 90px;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.cloud-c1 {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -20px;
  box-shadow:
    3px 0 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.5);
}

.cloud-c2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow:
    0 4px 0 #fff,
    -2px 0 5px rgba(0, 0, 0, 0.5);
}

.cloud-c3 {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background: #fff;
  position: absolute;
  right: -50px;
  top: -40px;
  box-shadow:
    -4px 0 0 #fff,
    0 -2px 5px rgba(0, 0, 0, 0.5);
}

.icon-loading-rain {
  top: 0;
  right: 10px;
  bottom: 0;
  position: absolute;
  width: 220px;
  height: 220px;
  background: #eb1d47;
  padding: 10px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.rain-loading {
  position: absolute;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
}

.drop1 {
  right: 0;
  bottom: -40px;
  animation: drop-a 1s infinite;
  -webkit-animation: drop-a 1s infinite;
}

.drop2 {
  left: 0;
  bottom: -20px;
  animation: drop-a 1.5s infinite;
  -webkit-animation: drop-a 1.5s infinite;
}

.drop3 {
  right: 0;
  left: 0;
  bottom: 0;
  animation: drop-a 2s infinite;
  -webkit-animation: drop-a 2s infinite;
}

.compass-msg {
  position: relative;
  z-index: 2;
  right: 40px;
}

.footer {
  height: 40vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
}

.footer-header {
  margin: 20px auto;
  font-family: 'Bungee';
  font-size: 2vw;
  color: yellow;
}

.persons {
  display: flex;
}

.person {
  margin: auto;
  font-family: 'Bungee';
  font-size: 2vw;
}

.email {
  text-align: center;
}

.powered-container {
  display: flex;
}

.powered-by {
  margin: 0 auto;
  width: 15vw;
}

@media (max-width: 1320px) {
  .current-container {
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38vw;
    align-self: flex-end;
    border-radius: 5px;
    height: 6vw;
    font-size: 2vw;
    justify-content: space-between;
    flex: 3;
    background: tomato;
    margin-top: 10px;
    color: #d0e1f9;
  }

  .whole-list-container {
    max-width: 100%;
    zoom: 0.8;
    transform: scale(0.8, 0.8);
  }

  .day {
    font-size: 3vw;
  }

  .summary {
    font-size: 1.5vw;
  }

  .icon-container {
    max-width: 60vw;
    display: flex;
    max-height: 76vh;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
  }
}

@media (max-width: 960px) {
  .whole-list-container {
    zoom: 0.7;
    transform: scale(0.8, 0.8);
  }

  .icon-container {
    min-width: 500px;
    max-width: 60vw;
    display: flex;
    max-height: 76vh;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .icon-container {
    zoom: 0.7;
    transform: scale(0.9, 0.9);
    min-width: 500px;
    display: flex;
    max-height: 76vh;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .icon-container {
    zoom: 0.7;
    transform: scale(0.7, 0.7);
    min-width: 500px;
    display: flex;
    max-height: 76vh;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }

  40% {
    -moz-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }

  60% {
    -moz-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }

  40% {
    -webkit-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    -ms-transform: translateY(0) rotate(90deg);
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }

  40% {
    -moz-transform: translateY(-30px) rotate(90deg);
    -ms-transform: translateY(-30px) rotate(90deg);
    -webkit-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }

  60% {
    -moz-transform: translateY(-15px) rotate(90deg);
    -ms-transform: translateY(-15px) rotate(90deg);
    -webkit-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}

@keyframes drop-a {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes drop-a {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: -100px;
    opacity: 0;
  }
}
