
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 109px;
    height: 60px;
    width: 25vw;
    background-color: #FFF;
    border: 2px solid tomato;
    border-radius: 50px;
    color: tomato;
    font-size: 16px;
    font-family: Roboto;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.submit:hover {
    background-color: tomato;
    color: #FFF;
    transition: 0.4s;
}
