body{
  margin: 0;
  font-size: 10px;
  background-color: #D0E1F9;
}
textarea{
  display: none;
}

.search-section{
  height: 100vh;
}
.search-container{
  display: flex;
  flex-direction: column;;

}
.top5-container-list{
  font-size: 1rem;
  width: 220px;
  background: #4D648D;
  height: 100vh;
  margin: 0;
  position: absolute;
  font-family: Roboto;
}
.top5-button-container{
  background: tomato;
  height: 100vh;
  position: absolute;
  z-index: 5;
  width: 20px;
}
.top5-button{
  transform: rotate(-90deg);
  top: 50vh;
  position: absolute;
  font-size: 0.8rem;
}
.top5-display{
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.the-list-container{
  position: absolute;
  top: 18vh;
  margin-left: 36px;
}
.top5-element{
  margin-top: 50px;
}
.top5-button-container > .top5-container-list {
  visibility:hidden;
  opacity:0;
  transition:opacity 0.5s linear;
}
.top5-button-container:hover > .top5-container-list {
  visibility:visible;
  opacity:1;
}
/*
.section-display{
  display:none;
}
*/




.controls {
  margin: auto;
  margin-top: 280px;
  width: 100%;
  height: 140px;
  background: transparent;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: tomato;
}
.controls:focus {
  outline: none;
}

.card-header{
  font-size: 0.8rem;
  color: tomato;
  font-family: 'Roboto';
  flex-basis: 100%;
  text-align: center;
  align-self: flex-start;
  margin: 0;
}
.temp-flex{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.temp-flex > * {
  flex-basis: 100%;
}

.hourly-weather-icon{
  transform: scale(0.8,0.8);
  margin-left: 13px;
}
.select-button{
  max-width: 150px;
  margin: 20px auto;
}
.hourly-percentage{
  justify-content: center;
  text-align: center;
  font-size: 7rem;
  margin-bottom: 82px;
  color: skyblue;
}

.week-section{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.day-section{
  min-height: 100vh;
  font-family: PlayfairDisplay;
  font-size: 2rem;
}
.sub-header{
  font-size: 1rem !important;
}
.icon-container{
  max-width: 67%;
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
}
.grid-item{
  height: 225px;
  width: 225px;
  list-style: none;
  border: 1px solid;
  color: beige;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: beige;
}

.grid-item > * {
  flex-basis: 100%;
}
.hour-list{
  border: 1px solid;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  height: 30px;
}
.hourly-compass-msg{
  z-index: 2;
  -webkit-match-parent;
  font-size: 1.2rem;
  position: absolute;
}
.hour-temp-container{
  transform: scale(0.8,0.8);
}
.hourly-compass{
  position: absolute;
  width:100%; height:100%;
  background: #444;
  border-radius: 0 50% 50% 50%;
  border: 10px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  border-right-color: coral;
  border-bottom-color: coral;
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  align-self: center;
}
.main-day-container{
  margin: 75px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  height: 75vh;
  width: 75vw;
  border: 1px solid
}
.list-container{
  display: flex;
  justify-content: center;
  background-color: #4D648D;
  height: 170px;
  width: 100%;
}

.day{
  display: flex;
  flex: 4;
  max-width: 26%;
  font-size: 2vw;
  padding-bottom: 26px;
}
.week-header{
  padding: 20px;
  font-family: 'Bungee';
  font-size: 4rem;
  text-align: center;
  color: tomato;
  animation: fadeInRight 0.2s;
}
.list-item{
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  align-items: center;
  color: beige;
  flex: 1 1 6%;
}
.summary{
  font-size: 0.8vw;
  color: #ff7f50;
  max-width: 315px;
  position: absolute;
}
.top5-element:hover{
  cursor: pointer;
  color: red;
}

.degrees {
  flex: 2;
  justify-content: center;
  font-size: 1.2rem;

}

.bottom-text-week {
  position: relative;
  font-size: 2.3rem;
  bottom: 8px;
  left: 7px;
}

.bottom-text {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-size: 1.6rem;
}

.mod2-color {
  background-color: #283655;
}
.whole-list-container {
  max-width: 75%;
  max-height: 75%;
  margin: 20px auto ;
}
.temp-text {
  text-align: center;
  font-size: 0.8rem;
}
.wind-mill-text{
  position: relative;
  bottom: 66px;
  left: -3px;
  font-size: 0.8rem;
}
.wind-direction-text{
  position: relative;
  bottom: 66px;
  left: 13px;
  font-size: 0.8rem;
}
.thermo-container{
  transform: scale(0.55,0.55) translateY(-44%);
}
.thermometer-top {
    height: 150px;
    width: 20px;
    border-right: 5px solid #d1d1d1;
    border-left: 5px solid #d1d1d1;
    border-top: 5px solid #d1d1d1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: transparent;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.thermometer-bottom {
    content: '';
    background: tomato;
    width:60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #d1d1d1;
    z-index: -1;
    margin: -7px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thermometer-bottom-min {
    content: '';
    background: tomato;
    width:60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #d1d1d1;
    z-index: -1;
    margin: -7px auto;
}
.thermometer-bottom-min{
    content: '';
    background: tomato;
    width:60px;
    height: 60px;
    border-radius: 100%;
    border: 5px solid #d1d1d1;
    margin: -7px auto;
}

.thermometer-fill{
    width: 30px;
    min-height: 12px;
    background: tomato;
    position: absolute;
    bottom: -5px;
    left: -5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .2s;
}
.compass {
    position: absolute;
    width:100%; height:100%;
    background: #444;
    border-radius: 0 50% 50% 50%;
    border: 10px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-right-color: coral;
    border-bottom-color: coral;
    transition: border-radius .2s;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
}
.compass-msg {
    z-index: 2;
}

.wind-text{
  position: relative;
  top: -163px;
  left: 201px;
  font-size: 2rem;
}
.hourly-wind-container{
  /*transform: scale(0.5,0.5);
  min-width: 563px;
  min-height: 563px;*/
}
.hourly-wind-text{
  font-size: 2rem;
  font-family: 'Roboto';
  text-align: center;
  margin: 0;
  color: tomato;
}
.hourly-windmill{
  transform: scale(0.6,0.6);
  position: relative;
  align-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
  bottom: 40px;
}
.icon{
  flex:2;
  justify-content: center;
}
.loading-header{
  margin-top: 200px;
  text-align: center;
  font-family: 'Bungee';
  font-size: 5rem;
  color: tomato;
}
.container-cloud{
  position: absolute;
  height: 200px;
  width: 300px;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;

}
.container-loading {
  top: 0; left: 0; bottom: 0; right: 0;
  position:absolute;
  max-width: 100vw;
  background: #D0E1F9;
  z-index: 10;
  position:fixed;
}

.icon-rain-loading {
  background: #eb1d47;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.icon-loading-i {
  width:200px;
  height:200px;
  border-radius:20px;
  background: #d11a3f;
  position: relative;
  box-shadow: inset 0 -6px 10px #DE1C43,
    inset 0 2px 10px rgba(0, 0, 0, .2),
    0 1px 0 rgba(255, 255, 255, .2);
}

.cloud-base {
  position:absolute;
  width:90px;
  height:60px;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
}

.cloud-c1 {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -20px;
  box-shadow: 3px 0 0 #fff,
    0 -2px 5px rgba(0, 0, 0, .5);
}

.cloud-c2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0 4px 0 #fff,
    -2px 0 5px rgba(0, 0, 0, .5);
}

.cloud-c3 {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background: #fff;
  position: absolute;
  right: -50px;
  top: -40px;
  box-shadow: -4px 0 0 #fff,
    0 -2px 5px rgba(0, 0, 0, .5);
}


/***************
Rain
***************/
.icon-loading-rain {
  top: 0; right: 10px; bottom: 0;
  position:absolute;
  width:220px;
  height:220px;
  background: #eb1d47;
  padding: 10px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.rain-loading {
  position:absolute;
  width: 10px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
}

.drop1 {
  right: 0; bottom: -40px;
  animation:drop-a 1s infinite;
  -webkit-animation:drop-a 1s infinite;
}
.drop2 {
  left: 0; bottom: -20px;
  animation:drop-a 1.5s infinite;
  -webkit-animation:drop-a 1.5s infinite;
}
.drop3 {
  right: 0; left: 0; bottom: 0;
  animation:drop-a 2s infinite;
  -webkit-animation:drop-a 2s infinite;
}

.compass-msg{
  position: relative;
  z-index: 2;
  right: 40px;
}
@media(max-width: 1320px)  {
    .whole-list-container {
      max-width: 100%;
      zoom: 0.8;
      transform: scale(0.8,0.8);
    }
    .day{
      font-size: 3vw;
    }
    .summary{
      font-size: 1.5vw;
    }
}
@media(max-width: 960px)  {
    .whole-list-container {
      zoom: 0.7;
      transform: scale(0.8,0.8);
    }
}

@keyframes drop-a
{
from {bottom:0; opacity:1;}
to {bottom:-100px; opacity:0;}
}

@-webkit-keyframes drop-a
{
from {bottom:0; opacity:1;}
to {bottom:-100px; opacity:0;}
