.windmill {
  transform: scale(0.45, 0.45);
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
  right: 19px;
}

.stick {
  width: 6px;
  height: 200px;
  position: absolute;
  background: #a86;
  top: 50px;
}

.stick::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 10px;
  top: 195px;
  left: -22px;
  background: #ddd;
  border-radius: 50%;
  z-index: -1;
}

.wind {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 2s infinite linear;
  -moz-animation: rotates 2s infinite linear;
  -webkit-animation: rotates 2s infinite linear;
  -o-animation: rotates 2s infinite linear;
}

.wind::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 45px;
  width: 10px;
  height: 10px;
  background: #eee;
  border-radius: 50%;
}

.wind1,
.wind2,
.wind3,
.wind4 {
  width: 90px;
  height: 40px;
  position: absolute;
  margin: 13px 0 0 -41px;
  background: #cef;
  border-bottom-left-radius: 40% 100%;
}

.wind1::after,
.wind2::after,
.wind3::after,
.wind4::after {
  content: "";
  position: absolute;
  right: 0;
  width: 65px;
  height: 40px;
}

.wind1 {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background: #f39c12;
}

.wind1::after {
  background-image:
    radial-gradient(
      circle at 0 0,
      rgba(241, 196, 15, 0) 40px,
      #f1c40f 41px
    );
}

.wind2 {
  left: 63px;
  top: -28px;
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  background: #e74c3c;
}

.wind2::after {
  background-image:
    radial-gradient(
      circle at 0 0,
      rgba(255, 4, 4, 0) 40px,
      #d33 41px
    );
}

.wind3 {
  left: 92px;
  top: 35px;
  transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  background: #27ae60;
}

.wind3::after {
  background-image:
    radial-gradient(
      circle at 0 0,
      rgba(241, 196, 15, 0) 40px,
      #2ecc71 41px
    );
}

.wind4 {
  left: 29px;
  top: 63px;
  transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  background: #2980b9;
}

.wind4::after {
  background-image:
    radial-gradient(
      circle at 0 0,
      rgba(52, 152, 219, 0) 40px,
      #3498db 41px
    );
}

.sec0 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 20s infinite linear;
  -moz-animation: rotates 20s infinite linear;
  -webkit-animation: rotates 20s infinite linear;
  -o-animation: rotates 20s infinite linear;
}

.sec1 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 10s infinite linear;
  -moz-animation: rotates 10s infinite linear;
  -webkit-animation: rotates 10s infinite linear;
  -o-animation: rotates 10s infinite linear;
}

.sec2 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 8s infinite linear;
  -moz-animation: rotates 8s infinite linear;
  -webkit-animation: rotates 8s infinite linear;
  -o-animation: rotates 8s infinite linear;
}

.sec3 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 7s infinite linear;
  -moz-animation: rotates 7s infinite linear;
  -webkit-animation: rotates 7s infinite linear;
  -o-animation: rotates 7s infinite linear;
}

.sec4 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 6s infinite linear;
  -moz-animation: rotates 6s infinite linear;
  -webkit-animation: rotates 6s infinite linear;
  -o-animation: rotates 6s infinite linear;
}

.sec5 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 5s infinite linear;
  -moz-animation: rotates 5s infinite linear;
  -webkit-animation: rotates 5s infinite linear;
  -o-animation: rotates 5s infinite linear;
}

.sec6 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 4s infinite linear;
  -moz-animation: rotates 4s infinite linear;
  -webkit-animation: rotates 4s infinite linear;
  -o-animation: rotates 4s infinite linear;
}

.sec8 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 3s infinite linear;
  -moz-animation: rotates 3s infinite linear;
  -webkit-animation: rotates 3s infinite linear;
  -o-animation: rotates 3s infinite linear;
}

.sec10 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 2s infinite linear;
  -moz-animation: rotates 2s infinite linear;
  -webkit-animation: rotates 2s infinite linear;
  -o-animation: rotates 2s infinite linear;
}

.sec12 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 1.5s infinite linear;
  -moz-animation: rotates 1.5s infinite linear;
  -webkit-animation: rotates 1.5s infinite linear;
  -o-animation: rotates 1.5s infinite linear;
}

.sec14 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 1.3s infinite linear;
  -moz-animation: rotates 1.3s infinite linear;
  -webkit-animation: rotates 1.3s infinite linear;
  -o-animation: rotates 1.3s infinite linear;
}

.sec16 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 1s infinite linear;
  -moz-animation: rotates 1s infinite linear;
  -webkit-animation: rotates 1s infinite linear;
  -o-animation: rotates 1s infinite linear;
}

.sec20 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 0.8s infinite linear;
  -moz-animation: rotates 0.8s infinite linear;
  -webkit-animation: rotates 0.8s infinite linear;
  -o-animation: rotates 0.8s infinite linear;
}

.sec25 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 0.7s infinite linear;
  -moz-animation: rotates 0.7s infinite linear;
  -webkit-animation: rotates 0.7s infinite linear;
  -o-animation: rotates 0.7s infinite linear;
}

.sec30 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotates 0.5s infinite linear;
  -moz-animation: rotates 0.5s infinite linear;
  -webkit-animation: rotates 0.5s infinite linear;
  -o-animation: rotates 0.5s infinite linear;
}

@keyframes rotates {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes rotates {
  form {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotates {
  form {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-o-keyframes rotates {
  form {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(-360deg);
  }
}

@-moz-document url-prefix() {
  .stick {
    margin-left: 40px;
  }
}
