body{
  margin: 0;
  font-size: 10px;
  background-color: #D0E1F9;
}

.list-container{

  display: flex;
  justify-content: center;
  flex: 1;
  background-color: #4D648D;
  height: 100px
}

.day{
  display: flex;
  flex: 4;
  font-size: 2rem !important;
}
.week-header{
  font-family: 'Bungee';
  font-size: 4rem;
  text-align: center;
  color: #1E1F26
}
.list-item{
  font-family: 'Roboto';
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;;
  align-items: center;
  color: beige;
}
.summary{
  font-size: 1rem;
}



.degrees{
  flex: 1;

}
.mod2-color{
  background-color: #283655;
}
.whole-list-container{
  max-width: 75%;
  max-height: 75%;
  margin: 20px auto;
}


.icon{
  flex:2;
  justify-content: center;
}
